
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

<script>
function toggleMenu(){
   $(".hamburger-menu").slideToggle();
   $(".hamburger-button").toggleClass("active");
 };

function rotateCarousel() {
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    // nav-text["",""],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
  });
}
</script>

<script>

// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 210,
    itemMargin: 5,
    asNavFor: '#slider'
  });
});


</script>
