<div>
  <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/22c3058346c8557ab6b334ec18d53b59.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>


</div>


<footer class="grid footerMain">
  <div class="col-2_xs-12">
    <p> I'm just a girl, traveling the world. Trying to find myself and being as cheesy as possible along the way. </p>
  </div>
  <div class="col-2_xs-12">
    <h5 class="verticleText shorelines follow"> follow </h5>
  <div class="verticalIcons">
    <ul>
      <li><a href="http://instagram.com/justynjen"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="http://facebook.com/justynjen"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="http://pinterest.com/justynjen"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="http://youtube.com/justynjen"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  </div>
  <div class="col-4_xs-12 explore">
    <h5 class="verticleText shorelines explore"> explore </h5>
  <div class="verticalIcons">
    <ul class="footerLinks">
      <li><a href="#">Cities</a></li>
      <li><a href="#">Countries</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Digital Nomad</a></li>
      <li><a href="#">Tips</a></li>
    </ul>
  </div>
  </div>
  <div class="col-4_xs-12 archive">
    <h5 class="verticleText shorelines"> archive </h5>
  <div class="verticalIcons">
    <ul class="footerLinks">
      <li><a href="#">Cities</a></li>
      <li><a href="#">Countries</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Digital Nomad</a></li>
    </ul>
  </div>
  </div>
</footer>
<footer class="mobileFooter">
  <div>
    <h5 class="shorelines left">Get Around</h5>
    <hr class="hr">
    <div class="grid">
      <div class="col-6">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="col-6">
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Hire me</a></li>
          <li><a href="#">Shop</a></li>
        </ul>
      </div>
    </div>
    <p>I'm just a girl, traveling the world. Trying to find myself and being as cheesy as possible along the way. </p>
    <div>
      <a href="http://instagram.com/justynjen"><i class="fa fa-instagram fa-2x mobileFooterIcons" aria-hidden="true"></i></a>
      <a href="http://facebook.com/justynjen"><i class="fa fa-facebook fa-2x mobileFooterIcons" aria-hidden="true"></i></a>
      <a href="http://pinterest.com/justynjen"><i class="fa fa-pinterest fa-2x mobileFooterIcons" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
<div class="sub-footer">
  (c) 2017 | Website Designed & Built by Justyn Gourdin
</div>
