
<footer class="grid">
  <div class="col-3">
    <h2 class="shorelines"> Justyn Jen </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
  </div>
  <div class="col-3">
    <h5 class="verticleText shorelines"> follow </h5>
  <div class="verticalIcons">
    <ul>
      <li><a href="http://instagram.com/justynjen"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a></li>
      <li><a href="http://facebook.com/justynjen"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a></li>
      <li><a href="http://pinterest.com/justynjen"><i class="fa fa-pinterest fa-4x" aria-hidden="true"></i></a></li>
      <li><a href="http://youtube.com/justynjen"><i class="fa fa-youtube fa-4x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  </div>
  <div class="col-3">
    <h5 class="verticleText shorelines"> explore </h5>
  <div class="verticalIcons">
    <ul class="footerLinks">
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
    </ul>
  </div>
  </div>
  <div class="col-3">
    <h5 class="verticleText shorelines"> archive </h5>
  <div class="verticalIcons">
    <ul class="footerLinks">
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
      <li><a href="#">Blog Link</a></li>
    </ul>
  </div>
  </div>
</footer>
<div class="sub-footer">
  (c) 2017 | Website Designed & Built by Justyn Gourdin at <a href="http://www.justyngourdin.com"> Justyn Gourdin</a>
</div>
  
