
<footer class="grid">
  <div class="col-4">
    <h5 class="verticleText shorelines"> follow </h5>
  <div class="verticalIcons">
    <ul>
      <li><a href="http://instagram.com/justynjen"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a></li>
      <li><a href="http://facebook.com/justynjen"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a></li>
      <li><a href="http://pinterest.com/justynjen"><i class="fa fa-pinterest fa-4x" aria-hidden="true"></i></a></li>
      <li><a href="http://youtube.com/justynjen"><i class="fa fa-youtube fa-4x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  </div>
  <div class="col-4">
    <h5 class="verticleText shorelines"> explore </h5>
  <div class="verticalIcons">
    <ul class="footerLinks">
      <li><a href="#">Cities</a></li>
      <li><a href="#">Countries</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Digital Nomad</a></li>
      <li><a href="#">Tips</a></li>
    </ul>
  </div>
  </div>
  <div class="col-4">
    <h5 class="verticleText shorelines"> archive </h5>
  <div class="verticalIcons">
    <ul class="footerLinks">
      <li><a href="#">Cities</a></li>
      <li><a href="#">Countries</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Digital Nomad</a></li>
    </ul>
  </div>
  </div>
</footer>
<div class="sub-footer">
  (c) 2017 | Website Designed & Built by Justyn Gourdin at <a href="http://www.justyngourdin.com"> Justyn Gourdin</a>
</div>
