---
layout: default
---

<section class="bgPosts centered" style="background-image:url('{{page.feature-image_path}}');">
  <div class="banner-inner">

  </div>
</section>

<section>
  <h2 class="centered"> {{page.title}} </h2>
  <hr class="center"> </hr>
  <p> {{page.subtitle}} </p>
  <div class="posts">
   {{content}}
  </div>

<h3 class="shorelines centered">Comments</h3>
  <form method="POST" action="https://api.staticman.net/v2/entry/eduardoboucas/staticman/gh-pages/comments">
    <input name="options[redirect]" type="hidden" value="https://justynjen.com">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="name" type="text" class="feedback-input" placeholder="Name" />
  	<input name="email" type="text" class="feedback-input" placeholder="Email" />
    <input name="fields[message]" class="feedback-input" placeholder="Comment">
    <button type="submit">Sumbit!</button>
  </form>

</section>
